# install lib run: pip install -r requirements.txt

streamlit
psycopg2
RapidFuzz
transformers
torch
werkzeug
pandas
plotly
deep-translator
nltk
langdetect
python-dotepip
PyPDF2
sentence_transformers
langchain
langchain-community
pdfplumber
faiss-cpu